@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
  color: rgb(97, 218, 251);
  outline: none !important;
}
*:focus,
*:active {
  outline: none !important;
}
body{
  background-color: #282c34;
}
.button{
  background: none;
  border: 1px solid rgb(97, 218, 251);
  margin: 5px 0;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-right: 10px;
  cursor: pointer;
}
.button:hover{
  background: rgba(97, 218, 251, 0.1);
}
.input{
  padding: 10px 5px;
  outline: none;
  font-size: 17px;
  background: none;
  border: none;
  width: 100%;
  text-align: left;
  display: block;
}
.inputs{
    max-width:600px;
    margin: 0 auto;
}
.input:focus {outline: none !important;}
.input::-moz-focus-inner {border: 0px !important;}
.post_item{
    background: rgba(255, 166, 0, 0.2);
    padding: 20px;
    margin: 10px auto;
    border-radius: 15px;
    max-width: 600px;
}
.post_item p{
    padding: 10px 0 0;
}